.form {

  &-input {
    display: block;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 1rem 0 1rem 2.25rem;
    
    &::placeholder {
      color: color(neutral, 2);
    }
  }

  &-cta {
    display: flex;
    justify-content: center;

    .form-input {
      flex: 1;
      margin-right: 1.75rem;
    }
  }

  @include breakpoint-down(mobile) {
    &-cta {
      flex-direction: column;
      .form-input {
        width: 100%;
        margin: 0 0 1.25rem 0;
      }
    }
  }
}