// HERO SECTION
// ----------------------------------------
//
.hero {
  position: relative;
  padding-bottom: 10rem;
  background: url(../assets/bg-curvy-desktop.svg), color(primary, 1);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  &-wrapper {
    position: relative;
    z-index: 100;
    text-align: center;
  }

  &-img {
    margin: 0 auto 2.25rem auto;
  }

  &-title {
    max-width: 824px;
    margin: 0 auto 1.75rem auto;
  }

  &-text {
    z-index: 100;
    max-width: 600px;
    margin: 0 auto 2.25rem auto;
  }

  @include breakpoint-down(mobile) {
    padding: 2.5rem 0 0 0;
    margin-bottom: 7.375rem;
    background: url(../assets/bg-curvy-mobile.svg), color(primary, 1);
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: contain;

    &-img {
      margin-bottom: 28px;
    }

    &-text-wrapper {
      padding: 0;
      background-color: color(primary, 2);
    }

    &-title {
      margin-bottom: 16px;
    }

    &-text {
      margin-bottom: 24px;
    }

    &-background-block {
      position: absolute;
      bottom: 0;
      left: 0;
      min-height: 22%;
      width: 100%;
      background-color: color(primary, 2);
    }
  }
}



// FEATURES SECTION
// ----------------------------------------
//
.features {
  margin-bottom: 8.25rem;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 5.75rem 8.75rem;
    justify-content: center;
  }

  &-block {
    text-align: center;
  }

  &-icon {
    margin: 0 auto 1.75rem auto;
  }

  &-title {
    margin: 0 0 .5rem 0;
  }

  @include breakpoint-down(tablet-wide) {
    &-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }

  @include breakpoint-down(mobile) {
    margin-bottom: 7.375rem;

    &-wrapper {
      gap: 4.875rem 0;
    }
  }
}

// PRODUCTIVE SECTION
// ----------------------------------------
//
.productive {
  margin-bottom: 8.75rem;

  &-wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    column-gap: 3.75rem;
    align-items: center;
  }

  &-title {
    max-width: 332px;
    margin-bottom: 1.25rem;
  }

  &-text:nth-of-type(1){
    margin-bottom: 1rem;
  }

  &-text:nth-of-type(2){
    margin-bottom: 1.75rem;
  }

  @include breakpoint-down(tablet) {
    &-wrapper {
      grid-template-columns: 1fr;
    }

    &-img {
      margin: 0 auto 4rem auto;
    }
  }
}

// TESTIMONIALS SECTION
// ----------------------------------------
//
.testimonials {
  margin-bottom: 12.5rem;

  @include breakpoint-down(mobile) {
    margin-bottom: 8.75rem;
  }
}

// CTA SECTION
// ----------------------------------------
//
.cta {
  position: relative;
  z-index: 1;
  margin-bottom: -7.25rem;
  text-align: center;

  &-wrapper {
    max-width: 864px;
    padding: 2.5rem 4.75rem;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    background-color: color(primary, 1);
  }

  &-title {
    margin-bottom: 1.25rem;
  }

  &-text {
    max-width: 636px;
    margin: 0 auto 2rem auto;
  }

  @include breakpoint-down(mobile) {
    margin-bottom: -10rem;

    &-wrapper {
      padding: 2.25rem 1.25rem
    }

    &-title {
      margin-bottom: 1rem;
    }

    &-text {
      margin-bottom: 1.75rem;
    }
  }
}